<% provide(:title, 'Contact') %>

<p>
If you want to contact me, this page is for you!
</p>
<br />

<table>
	<tr>
		<td>
			<b>email:</b>
		</td>
		<td>
			<div class="find-me-at-container" style="width: 225px">
				<div class="find-me-at">
					<div class="find-me-at-icon">
						<%= image_tag("http://mail.google.com/mail/u/0/images/favicon.ico", alt: "Gmail", width: 20) %>
					</div>
					<div class="find-me-at-label">
						theraccoun@gmail.com
					</div>
				</div>
			</div>
		</td>
	</tr>
</table>