<% provide(:title, 'Projects') %>
<% meta description: "Kevin's projects.",
        keywords: "kevin, dinkel, website, webspace, personal, projects, experience, work, professional, dande, mms, hasp, daystar" %>
<p>
Below is a list of projects I have been or am currently involved in. Hover or click for more details.
</p>