<% provide(:title, 'Projects') %>
<p>
  Below is a list of projects I have been or am currently involved in. Hover or click for more details.
</p>

<div id="myCarousel" class="carousel slide">
  <div class="carousel-inner">
    <div class="item active">
      <a href="safe-crag-1972.herokuapp.com">
        <img src="assets/Plasma-Tree.jpg" alt="">
        <div class="carousel-caption">
          <h4>Concept Before Code</h4>
          <p>Test your understanding of various algorithms from a highly conceptual level. No code involved!</p>
        </a>
      </div>
    </div>
    <div class="item">
      <a href="http://www.stevenmaccoun.info/education/reveal.js/#/">
      <img src="assets/3d-runner.jpg" alt="">
      <div class="carousel-caption">
        <h4>VisuoBooks: 3D physics tutorials</h4>
        <p>Fullblown 3D, immersive, interactive physics tutorials coming soon. Click to see slide presentation on the concept</p>
      </div>
    </a>
    </div>
    <div class="item">
      <img src="assets/yin-yang.jpg" alt="">
      <div class="carousel-caption">
        <h4>What's in a symbol?</h4>
        <p>Improve your vision-logic of real world concepts!</p>
      </div>
    </div>
  </div>
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>